@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --primerColor: #D96F32;
  --segundoColor: #273F4F;
  --textColor-one: black;
  --texColor-two: white;
  --fondo-welcome: #d1a980c6;
  --white: #f3e9dc9b;
  --bgNav: #555879;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* acces */
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: var(--primerColor);
  color: var(--texColor-two);
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid white;
}

/* NavBar fijada en la parte inferior de la pagina */
header {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  right: 0;
}

nav {
  width: auto;
  background-color: var(--bgNav);
  backdrop-filter: blur(10px);
  position: fixed;
  border-radius: 15px;
  z-index: 10;
  right: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav li {
  display: flex;
  padding: 5px;
}

nav a {
  display: flex;
  text-decoration: none;
  color: var(--texColor-two);
  padding: 1em;
  font-weight: bolder;
  font-size: large;
  border-radius: 15px;
  transition: background-color 250ms ease;
}

nav a:hover {
  background-color: var(--primerColor);
}

#open-SideBar-btn {
  display: none;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#open-SideBar-btn i {
  color: var(--primerColor);
  font-size: 6dvb;
}

#close-SideBar-btn {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

#overlay {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

/* CONTENIDO */
main {
  width: 100%;
  height: auto;
  color: var(--segundoColor);
  font-size: 8dvb;
  font-weight: bold;
}

.boxGlobal {
  width: 100%;
  height: 100dvh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-welcome);
  background-image: url(../../src/img/construccion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.boxAlert {
  background-color: var(--white);
  border: 1px solid var(--primerColor);
  border-radius: 12px;
}